html
  head
    title="About"
    link(href='https://fonts.googleapis.com/css?family=Raleway:300,400,500' rel ='stylesheet')
    link(rel='stylesheet' type='text/css' href='/css/style.css')
  body
    .navBar
      .logoWrapper
        a(href="/")
          img.logo(src='/img/logo.png')
      .navWrapper
        ul.nav
          li.navItem
            a.navText(href ='/mission') Our Mission
          li.navItem
            a.navText(href = '/gallery') Gallery
          li.navItem
            a.navText(href = '/about') About Us

    .biosWrapper
      H1.title About Us
      ul.bios
        li.bio
          img.headshot(src="/img/satchel.jpg")
          h1.name Satchel Sieniewicz
          p1.text="Consequat philosophari sed voluptate, incididunt tamen irure ne irure. E elit vidisse pariatur. Summis hic fabulas si minim.Quid admodum do efflorescere, non culpa doctrina mandaremus ita senserit consectetur an officia quo nisi fabulas do proident. Illum fabulas non graviterque, culpa constias exercitation. Proident sunt admodum iudicem in o quo quis ingeniis."
        li.bio
          img.headshot(src="/img/max.jpg")
          h1.name Max Reisner
          p1.text="Consequat philosophari sed voluptate, incididunt tamen irure ne irure. E elit vidisse pariatur. Summis hic fabulas si minim.Quid admodum do efflorescere, non culpa doctrina mandaremus ita senserit consectetur an officia quo nisi fabulas do proident. Illum fabulas non graviterque, culpa constias exercitation. Proident sunt admodum iudicem in o quo quis ingeniis."
        li.bio
          img.headshot(src="/img/louie.jpg")
          h1.name Louie Adamian
          p1.text="Consequat philosophari sed voluptate, incididunt tamen irure ne irure. E elit vidisse pariatur. Summis hic fabulas si minim.Quid admodum do efflorescere, non culpa doctrina mandaremus ita senserit consectetur an officia quo nisi fabulas do proident. Illum fabulas non graviterque, culpa constias exercitation. Proident sunt admodum iudicem in o quo quis ingeniis."
