html
  head
    title="Gallery"
    link(href='https://fonts.googleapis.com/css?family=Raleway' rel ='stylesheet')
    link(rel='stylesheet' type='text/css' href='/css/style.css')
  body
    .navBar
      .logoWrapper
        a(href="/")
          img.logo(src='/img/logo.png')
      .navWrapper
        ul.nav
          li.navItem
            a.navText(href ='/mission') Our Mission
          li.navItem
            a.navText(href = '/gallery') Gallery
          li.navItem
            a.navText(href = '/about') About Us
    h1.title Gallery
    .galleryWrapper
      tr
        td.cell
          img.galleryImage(src='/img/gallery/test0.jpg')
