html
  head
    title="Home Page"
    link(href='https://fonts.googleapis.com/css?family=Raleway' rel ='stylesheet')
    //- link(rel='stylesheet' type='text/css' href='/css/style.css')
    link(rel='stylesheet' type='text/css' href='/css/view.css')

  body
    .viewNavBar
      .viewLogoWrapper
        a(href='/index')
          img.mainlogo(src='img/mainLogo.png')
      .viewNavWrapper
        ul.viewNav
          li.viewNavItem
            a.viewNavText(href='/mission') Our Mission
          li.viewNavItem
            a.viewNavText(href='/gallery') Gallery
          li.viewNavItem
            a.viewNavText(href='/about') About Us
    .textWrapper
      p= 'Cleaning the Charles river and beautifying the community'
