html
  head
  link(href='https://fonts.googleapis.com/css?family=Raleway' rel ='stylesheet')
  link(rel='stylesheet' type='text/css' href='/css/style.css')
  body
    .imgWrapper
       .viewLogoWrapper
         a(href='/index')
           img.mainlogo(src='img/mainLogo.png')
    .viewNavWrapper
        ul.viwNav
          li.viewNavItem
            a(href='/mission') Our Mission
          li.viewNavItem
            a(href='/gallery') Gallery
          li.viewNavItem
            a(href='/about') About Us
    .textWrapper
        p= 'Cleaning the Charles river and beautifying the community'
