html
  head
    title="Our Mission"
  body
  .missionWrapper
    .navWrapper
      .logotypeWrapper
        img.logo(src='/img/logo.png')
      ul.navBar
        li
          a(href ='/mission') Our Mission
        li
          a(href = '/gallery') Gallery
        li
          a(href = 'about') About Us
