.body{
  font-family: Raleway;
}
.Nav{
  display: inline;
   font-family: Raleway;
  font-weight: 400;
  padding: 10px;
  background-size: cover; */
}
.NavItem{
  display: inline;
  padding: 5px;
  list-style: none;
}
.LogoWrapper{
  display: inline-flex;
}
.NavText{
  font: Raleway;
  font-weight: 400;
  text-decoration: none;
  font-size: 150%;
  border: 5%;
  color: #000000;
}
.NavWrapper{
  display: inline-flex;
  float: right;
  margin-right: 2%;
}
.bodyWrapper{
  font-family: Raleway;
  font-size: 200%
}
.title{
  font-weight: 300;
}
.text{
  font-family: Raleway;
  font-weight: 300;
}
.headshot{
  width: 30%;
}
.bio{
  list-style: none;
  display: inline-block;
}
.name{
  font-family: Raleway;
  font-weight: 500;
}
